.abilitiesTable {

}

.centered {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}

.cell {
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.unit-select {
    height: 40px;
    font-size: 16px;
}

.unit-select + .unit-select {
    margin-left: 10px;
}

.can-not-enhance {
    opacity: 0.2;
}
.parent {
    text-align:center
}

.selection {
  padding-bottom: 10px;
  text-align: center;
}

.tableContainer {
    border-radius: 25px;
    background-color: lightblue;
    width: 45%;
    padding-bottom: 50px;
    text-align: center;
    display: inline-table;
}
.tc-planner {
    font-size: 20px;
}

.tc-okay {
    background-color: #b4f74d;
}

.tc-missing {
    background-color: #ef9a9a;
}

.tableCellImage {
    max-width: 78px;
}

.unitContainer {
    border-radius: 25px;
    background-color: lightblue;
    width: 90%;
    padding-bottom: 20px;
    text-align: center;
    display: inline-table;
    margin-bottom: 20px;
}

.unitContainer td {
    height: 30px;
}

.deficit {
    background-color: lightcoral;
}
.unitName {
    width: 20%;
}

.abilityName {
    width: 30%;
}

.typeName {
    width: 10%;
}

.enhanceBtn {
    background-image: url('./images/check-mark.png');
    height: 28px;
    width: 28px;
}

.enhanceImg {
    height: 28px;
    width: 28px;
}

.enh_cell {
    width: 30px;
    border: none !important;
    padding-left: 5px;
}

.removeBtn {
    background-image: url('./images/close-cross.png');
    height: 28px;
    width: 28px;
}

.rmv_cell {
    width: 30px;
    border: none !important;
}

.noborder {
    border: none !important;
}

.MyStashHeader {
    margin-top: 24px;
}

.White {
    background-color: #D9E4EA;
}

.Black {
    background-color: #45204E;
    color: White;
}

.Green {
    background-color: #2B945B;
    color: White;
}

.Power {
    background-color: #8F1B25;
    color: White;
}

.Guard {
    background-color: #A68E49;
}

.Healing {
    background-color: #34BCC2;
}

.Support {
    background-color: #65A13A;
}

.Tech {
    background-color: #888371;
}
